<div class="container">

<h2>Administrador</h2>

<button type="button" class="btn-a refresh-button" (click)="actualizarTablas()">
  Actualizar tablas
</button>

<div class="admin-card">
  <h3>
  {{ editandoAdmin ? 'Editar administrador' : 'Agregar administrador' }}
</h3>

  <div class="admin-form">
    <input
      type="email"
      placeholder="Correo"
      [(ngModel)]="nuevoCorreo">

    <input
      [type]="mostrarPassword ? 'text' : 'password'"
      placeholder="Contrasena"
      [(ngModel)]="nuevaPassword">

      <button
    type="button"
    class="btn-a"
    (click)="mostrarPassword = !mostrarPassword">
    {{ mostrarPassword ? 'Ocultar' : 'Mostrar' }}
  </button>

    <button type="button" class="btn-a" (click)="crearAdmin()">
  {{ editandoAdmin ? 'Guardar cambios' : 'Agregar admin' }}
</button>
<button
  *ngIf="editandoAdmin"
  type="button"
  class="btn-a"
  (click)="cancelarEdicion()">
  Cancelar
</button>

  </div>

  <p *ngIf="mensajeAdmin" class="admin-message">
    {{ mensajeAdmin }}
  </p>



  <div class="admin-table">
  <table>
  <thead class="table_top">
    <tr>
      <th class="b">ID</th>
      <th class="b">Correo</th>
      <th class="b">Fecha de creación</th>
      <th class="b">Estado</th>
      <th class="b">Acciones</th>
    </tr>
  </thead>

  <tbody>
  <tr *ngFor="let admin of admins">
    <td class="d">{{ admin.id }}</td>
    <td class="d">{{ admin.correo }}</td>
    <td class="d">{{ admin.created_at }}</td>

    <!-- Estado -->
    <td class="d">
      {{ admin.activo ? 'Activa' : 'Desactivada' }}
    </td>

    <!-- Todas las acciones en una sola columna -->
    <td class="d acciones">

      <button
        type="button"
        class="btn-a"
        (click)="editarAdmin(admin)">
        Editar
      </button>

      <button
        type="button"
        class="btn-a"
        (click)="toggleActivoAdmin(admin.id)">
        {{ admin.activo ? 'Desactivar' : 'Activar' }}
      </button>

      <button
        type="button"
        class="btn-a"
        (click)="eliminarAdmin(admin.id)">
        Eliminar
      </button>

    </td>
  </tr>
</tbody>
</table>
  </div>


</div>

<h3>DB de Usuarios</h3>

<div class="table">
    <h3 class="table-name">Tabla Applicants</h3>
    <table>
  <thead class="table_top">
    <tr>
        <th class="b">id</th>
        <th class="b">nombre</th>
        <th class="b">apellido</th>
        <th class="b">curp</th>
        <th class="b">email</th>
        <th class="b">telefono</th>
        <th class="b">direccion</th>
        <th class="b">fecha_nacimiento</th>
        <th class="b">estado_civil</th>
        <th class="b">credito_infonavit</th>
        <th class="b">status</th>
        <th class="b">created_at</th>
        <th class="b">updated_at</th>
        <th class="b">eliminar baja</th>
    </tr>
  </thead>
  <tbody>

  <tr *ngFor="let participante of applicants">

    <td class="d">{{ participante.id }}</td>

    <td class="d">{{ participante.nombre }}</td>

    <td class="d">{{ participante.apellido }}</td>

    <td class="d">{{ participante.curp }}</td>

    <td class="d">{{ participante.email }}</td>

    <td class="d">{{ participante.telefono }}</td>

    <td class="d">{{ participante.direccion }}</td>

    <td class="d">{{ participante.fecha_nacimiento }}</td>

    <td class="d">{{ participante.estado_civil }}</td>

    <td class="d">{{ participante.credito_infonavit ? 'Si' : 'No' }}</td>

    <td class="d">{{ participante.status }}</td>

    <td class="d">{{ participante.created_at }}</td>

    <td class="d">{{ participante.updated_at }}</td>

    <td class="d">
      <button
        class="btn-b"
        type="button"
        *ngIf="participante.status === 'baja'"
        (click)="eliminarPostulanteBaja(participante.id)">
        Eliminar
      </button>
    </td>

    <!--<td>
      <button class="btn-a" (click)="editar(participante)">
        Editar
      </button>
    </td>

    <td>
      <button class="btn-b" (click)="eliminar(participante.id)">
        Borrar
      </button>
    </td> -->

  </tr>

</tbody>
</table>
</div>

<div class="table">
    <h3 class="table-name">Tabla Job_applications</h3>
    <table>
  <thead class="table_top">
    <tr>
        <th class="b">id</th>
        <th class="b">applicant_id</th>
        <th class="b">puesto_aplicado</th>
        <th class="b">area</th>
        <th class="b">created_at</th>
        <th class="b">updated_at</th>
    </tr>
  </thead>
  <tbody>

  <tr *ngFor="let participante of jobApplications">

    <td class="d">{{ participante.id }}</td>

    <td class="d">{{ participante.applicant_id }}</td>

    <td class="d">{{ participante.puesto_aplicado }}</td>

    <td class="d">{{ participante.area }}</td>

    <td class="d">{{ participante.created_at }}</td>

    <td class="d">{{ participante.updated_at }}</td>

    <!--<td>
      <button class="btn-a" (click)="editar(participante)">
        Editar
      </button>
    </td>

    <td>
      <button class="btn-b" (click)="eliminar(participante.id)">
        Borrar
      </button>
    </td> -->

  </tr>

</tbody>
</table>
</div>

<div class="table">
    <h3 class="table-name">Tabla Educations</h3>
    <table>
  <thead class="table_top">
    <tr>
        <th class="b">id</th>
        <th class="b">applicant_id</th>
        <th class="b">nivel_educativo</th>
        <th class="b">institucion</th>
        <th class="b">titulo_obtenido</th>
        <th class="b">cursos</th>
        <th class="b">created_at</th>
        <th class="b">updated_at</th>
    </tr>
  </thead>
  <tbody>

  <tr *ngFor="let participante of educations">

    <td class="d">{{ participante.id }}</td>

    <td class="d">{{ participante.applicant_id }}</td>

    <td class="d">{{ participante.nivel_educativo }}</td>

    <td class="d">{{ participante.institucion }}</td>

    <td class="d">{{ participante.titulo_obtenido }}</td>

    <td class="d">{{ participante.cursos }}</td>

    <td class="d">{{ participante.created_at }}</td>

    <td class="d">{{ participante.updated_at }}</td>

    <!--<td>
      <button class="btn-a" (click)="editar(participante)">
        Editar
      </button>
    </td>

    <td>
      <button class="btn-b" (click)="eliminar(participante.id)">
        Borrar
      </button>
    </td> -->

  </tr>

</tbody>
</table>
</div>

<div class="table">
    <h3 class="table-name">Tabla Work_experiences</h3>
    <table>
  <thead class="table_top">
    <tr>
        <th class="b">id</th>
        <th class="b">applicant_id</th>
        <th class="b">tiempo_experiencia</th>
        <th class="b">empresa</th>
        <th class="b">puesto</th>
        <th class="b">periodo</th>
        <th class="b">responsabilidades</th>
        <th class="b">motivo_salida</th>
        <th class="b">trabaja_actualmente</th>
        <th class="b">sueldo_actual</th>
        <th class="b">created_at</th>
        <th class="b">updated_at</th>
    </tr>
  </thead>
  <tbody>

  <tr *ngFor="let participante of workExperiences">

    <td class="d">{{ participante.id }}</td>

    <td class="d">{{ participante.applicant_id }}</td>

    <td class="d">{{ participante.tiempo_experiencia }}</td>

    <td class="d">{{ participante.empresa }}</td>

    <td class="d">{{ participante.puesto }}</td>

    <td class="d">{{ participante.periodo }}</td>

    <td class="d">{{ participante.responsabilidades }}</td>

    <td class="d">{{ participante.motivo_salida }}</td>

    <td class="d">{{ participante.trabaja_actualmente }}</td>

    <td class="d">{{ participante.sueldo_actual | moneyFormat }}</td>

    <td class="d">{{ participante.created_at }}</td>

    <td class="d">{{ participante.updated_at }}</td>

    <!--<td>
      <button class="btn-a" (click)="editar(workExperience)">
        Editar
      </button>
    </td>

    <td>
      <button class="btn-b" (click)="eliminar(workExperience.id)">
        Borrar
      </button>
    </td> -->

  </tr>

  <tr *ngIf="workExperiences.length === 0">
    <td class="d" colspan="12">
      No hay experiencias laborales guardadas.
    </td>
  </tr>

</tbody>
</table>
</div>

<div class="table">
    <h3 class="table-name">Tabla Skills</h3>
    <table>
  <thead class="table_top">
    <tr>
        <th class="b">id</th>
        <th class="b">applicant_id</th>
        <th class="b">idiomas</th>
        <th class="b">software</th>
        <th class="b">habilidades_tecnicas</th>
        <th class="b">habilidades_blandas</th>
        <th class="b">created_at</th>
        <th class="b">updated_at</th>
    </tr>
  </thead>
  <tbody>

  <tr *ngFor="let participante of skills">

    <td class="d">{{ participante.id }}</td>

    <td class="d">{{ participante.applicant_id }}</td>

    <td class="d">{{ participante.idiomas }}</td>

    <td class="d">{{ participante.software }}</td>

    <td class="d">{{ participante.habilidades_tecnicas }}</td>

    <td class="d">{{ participante.habilidades_blandas }}</td>

    <td class="d">{{ participante.created_at }}</td>

    <td class="d">{{ participante.updated_at }}</td>

    <!--<td>
      <button class="btn-a" (click)="editar(participante)">
        Editar
      </button>
    </td>

    <td>
      <button class="btn-b" (click)="eliminar(participante.id)">
        Borrar
      </button>
    </td> -->

  </tr>

</tbody>
</table>
</div>

<div class="table">
    <h3 class="table-name">Tabla additional_information</h3>
    <table>
  <thead class="table_top">
    <tr>
        <th class="b">id</th>
        <th class="b">applicant_id</th>
        <th class="b">disponibilidad_horario</th>
        <th class="b">licencia_conducir</th>
        <th class="b">vehiculo_propio</th>
        <th class="b">discapacidad</th>
        <th class="b">tipo_de</th>
        <th class="b">otras_caracteristicas</th>
        <th class="b">created_at</th>
        <th class="b">updated_at</th>
    </tr>
  </thead>
  <tbody>

  <tr *ngFor="let participante of additionalInformation">

    <td class="d">{{ participante.id }}</td>

    <td class="d">{{ participante.applicant_id }}</td>

    <td class="d">{{ participante.disponibilidad_horario }}</td>

    <td class="d">{{ participante.licencia_conducir }}</td>

    <td class="d">{{ participante.vehiculo_propio }}</td>

    <td class="d">{{ participante.discapacidad }}</td>

    <td class="d">{{ participante.tipo_de }}</td>

    <td class="d">{{ participante.otras_caracteristicas }}</td>

    <td class="d">{{ participante.created_at }}</td>

    <td class="d">{{ participante.updated_at }}</td>

    <!--<td>
      <button class="btn-a" (click)="editar(participante)">
        Editar
      </button>
    </td>

    <td>
      <button class="btn-b" (click)="eliminar(participante.id)">
        Borrar
      </button>
    </td> -->

  </tr>

</tbody>
</table>
</div>

<!-- <div class="table">
    <h3>Tabla Vacancies</h3>
    <table>
  <thead class="table_top">
    <tr>
        <th class="b">id</th>
        <th class="b">puesto</th>
        <th class="b">descripcion_breve</th>
        <th class="b">descripcion</th>
        <th class="b">horario</th>
        <th class="b">requisitos</th>
        <th class="b">salario</th>
        <th class="b">img</th>
        <th class="b">Created At</th>
        <th class="b">Updated At</th>
    </tr>
  </thead>
  <tbody>

  <tr *ngFor="let vacancy of vacancies">

    <td>{{ vacancy.id }}</td>

    <td>{{ vacancy.puesto }}</td>

    <td>{{ vacancy.descripcion_breve }}</td>

    <td>{{ vacancy.descripcion }}</td>

    <td>{{ vacancy.horario }}</td>

    <td>{{ vacancy.requisitos }}</td>

    <td>{{ vacancy.salario | moneyFormat }}</td>

    <td>{{ vacancy.img }}</td>

    <td>{{ vacancy.created_at }}</td>

    <td>{{ vacancy.updated_at }}</td>
  
    <td>
      <button class="btn-a" (click)="editar(vacancy)">
        Editar
      </button>
    </td>

    <td>
      <button class="btn-b" (click)="eliminar(vacancy.id)">
        Borrar
      </button>
    </td>

  </tr>

</tbody>
</table>
</div> -->


</div>

<!-- Se edita -->
